In [2]:
from sklearn.model_selection import train_test_split
import seaborn as sns
import pandas as pd
from sklearn.linear_model import LinearRegression
import pickle
from sklearn.metrics import mean_squared_error, r2_score

In [3]:

mpg_data = sns.load_dataset("mpg")

mpg_data.to_csv("auto_mpg_dataset.csv", index=False)

In [5]:


mpg_data = sns.load_dataset("mpg")


print(mpg_data.head())

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

   model_year origin                       name
0          70    usa  chevrolet chevelle malibu
1          70    usa          buick skylark 320
2          70    usa         plymouth satellite
3          70    usa              amc rebel sst
4          70    usa                ford torino

In [17]:


print(mpg_data.isnull().sum())

print(mpg_data.info())

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB
None

In [6]:

mpg_data['horsepower'] = mpg_data['horsepower'].fillna(mpg_data['horsepower'].mean())

In [7]:

mpg_data = mpg_data.drop(columns=['name'])


mpg_data = pd.get_dummies(mpg_data, columns=['origin'], drop_first=True)

print(mpg_data.head())

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

   model_year  origin_japan  origin_usa
0          70             0           1
1          70             0           1
2          70             0           1
3          70             0           1
4          70             0           1

In [8]:


X = mpg_data.drop(columns=['mpg'])
y = mpg_data['mpg']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42 )

print("Training and testing data split successfully.")

Training and testing data split successfully.

In [9]:

model = LinearRegression()

model.fit(X_train, y_train)

LinearRegression()

In [10]:


y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-squared Score: {r2}")

Mean Squared Error: 8.339142500255893
R-squared Score: 0.8449006123776619

In [11]:

y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-squared Score: {r2}")

Mean Squared Error: 8.339142500255893
R-squared Score: 0.8449006123776619

In [12]:

model = LinearRegression()
model.fit(X_train, y_train)

with open('linear_regression_mpg_model.pkl', 'wb') as file:
    pickle.dump(model, file)